@font-face {
    font-family:"Circular Book";
    src: url("../font/CircularStd-Book.otf");
}

@font-face {
    font-family:"Circular Medium";
    src: url("../font/CircularStd-Medium.otf");
}

@font-face {
    font-family:"Circular Bold";
    src: url("../font/CircularStd-Book.otf");
}

@font-face {
    font-family:"Circular Black";
    src: url("../font/CircularStd-Black.otf");
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Circular Medium";
    font-size: 3rem;
    color: black;
}

h2 {
    font-family: "Circular Medium";
    font-size: 1.25rem;
    color: black;
}

header {
    width: 15%;
    height: 100vh;
    background-color: #007EC6;
    margin: 0;
    padding: 0;
    float: left;
}

nav {
    padding: 50px 0 0 50px;
}

ul {
    width: 200px;
    padding: 0 0 0 10px;
    list-style: none;
}

li {
    margin: 30px 0;
    padding: 10px;
}

a {
    font-family: "Circular Book";
    font-size: 1rem;
    color: white;
    text-decoration: none;
}


label[for="email"], label[for="password"], label[for="receiver"], label[for="amount"], label[for="message"], label[for="username"] { display: none; }

.aanmeldenField, .registreerField, .betaalField {
    width: 500px;
    margin: 120px auto;
    padding: 42px 42px 36px;
    border: 1px solid #eaeced;
    border-radius: 5px;
    text-align: center;
}

.logo {
    width: 25%;
    margin: 20px 0;
}

.input {
    font-family: "Circular Book";
    color: #6c7378;
    border: none;
    border-bottom: 1px solid #6c7378;
    width: 92%;
    min-height: 40px;
    padding-left: 10px;
    margin: 20px 0;
}

.input-message {
    font-family: "Circular Book";
    color: #6c7378;
    border: none;
    border-bottom: 1px solid #6c7378;
    width: 92%;
    min-height: 40px;
    padding-left: 5px;
    margin: 20px 0;
}

.buttons { margin: 20px 0; }

.btn-login {
    font-family: "Circular Medium";
    font-size: 0.75rem;
    background-color: #007EC6;
    color: white;
    border: none;
    border-radius: 5px;
    width: 95%;
    min-height: 40px;
    margin: 20px 0;
}

.btn-register {
    font-family: "Circular Medium";
    font-size: 0.75rem;
    background-color: #D2DBE1;
    color: #2c2e2f;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    padding: 14px 185px;
}

.btn-already-account{
    font-family: "Circular Medium";
    font-size: 0.75rem;
    background-color: #D2DBE1;
    color: #2c2e2f;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    padding: 14px 193px;
}

.btn-send{
    font-family: "Circular Medium";
    font-size: 0.75rem;
    background-color: #007EC6;
    color: white;
    border: none;
    border-radius: 5px;
    width: 95%;
    min-height: 40px;
    margin: 50px 0 10px 0;
}

.transactions { 
    width: 75%;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}

.transactions thead { 
    font-family: "Circular Medium";
    color: #007EC6; 
}

.transactions th { padding: 50px 0; }
.transactions tr { padding: 0 0 50px 0;}

.transactions td { 
    font-family: "Circular Book";
    padding: 20px 0; 
}

.transactions a {
    font-family: "Circular Book";
    font-size: 0.75rem;
    background-color: #007EC6;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    padding: 10px 20px;
}

.logout { margin: 20vh 0 0 0; }

#logo {
    width: 150px;
    margin: 50px;
}

#main {
    width: 80%;
    float: left;
}

#overall {
    width: 85%;
    margin: 50px auto 0 auto;
}

#saldo { margin: 100px 0 50px 0; }

#saldo span {
    font-family: "Circular Bold";
    font-size: 2rem;
    color: #007EC6;
}

#transactions { float: left; }

#logout-btn {
    font-size: 1rem;
    background-color: white;
    color: #007EC6;
    margin: 0;
    padding: 10px 40px;
    border-radius: 50px;
}