@font-face {
    font-family:"Circular Book";
    src: url("../font/CircularStd-Book.otf");
}

@font-face {
    font-family:"Circular Medium";
    src: url("../font/CircularStd-Medium.otf");
}

@font-face {
    font-family:"Circular Bold";
    src: url("../font/CircularStd-Book.otf");
}

@font-face {
    font-family:"Circular Black";
    src: url("../font/CircularStd-Black.otf");
}

h1 {
    font-family: "Circular Medium";
    font-size: 1.5rem;
    color: black;
}

a, p {
    font-family: "Ciruclar Book";
    font-size: 1rem;
    color: darkgrey;
}

header {
    width: 100%;
    float: left;
}

nav { 
    width: 300px;
    float: right;
}

nav ul { list-style-type: none; }

nav a { 
    margin: 0 10px 0 0;
    float: left; 
}

.aanmeldenField, .registreerField, .betaalField {
    width: 500px;
    margin: 120px auto;
    padding: 42px 42px 36px;
    border: 1px solid #eaeced;
    border-radius: 5px;
    text-align: center;
}

.logo {
    width: 25%;
    margin: 20px 0;
}

label[for="email"], label[for="password"], label[for="receiver"], label[for="amount"], label[for="message"], label[for="username"] { display: none; }

.input {
    font-family: "Circular Book";
    color: #6c7378;
    border: none;
    border-bottom: 1px solid #6c7378;
    width: 92%;
    min-height: 40px;
    padding-left: 10px;
    margin: 20px 0;
}

.input-message {
    font-family: "Circular Book";
    color: #6c7378;
    border: none;
    border-bottom: 1px solid #6c7378;
    width: 92%;
    min-height: 40px;
    padding-left: 5px;
    margin: 20px 0;
}

.buttons { margin: 20px 0; }

.btn-login {
    font-family: "Circular Medium";
    font-size: 0.75rem;
    background-color: #007EC6;
    color: white;
    border: none;
    border-radius: 5px;
    width: 95%;
    min-height: 40px;
    margin: 20px 0;
}

.btn-register {
    font-family: "Circular Medium";
    font-size: 0.75rem;
    background-color: #D2DBE1;
    color: #2c2e2f;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    padding: 14px 185px;
}

.btn-already-account{
    font-family: "Circular Medium";
    font-size: 0.75rem;
    background-color: #D2DBE1;
    color: #2c2e2f;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    padding: 14px 193px;
}

.btn-send{
    font-family: "Circular Medium";
    font-size: 0.75rem;
    background-color: #007EC6;
    color: white;
    border: none;
    border-radius: 5px;
    width: 95%;
    min-height: 40px;
    margin: 50px 0 10px 0;
}

.btn-transaction {
    font-family: "Circular Book";
    font-size: 0.9rem;
    color: white;
    background-color: #007EC6;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
}

.btn-logout {
    font-family: "Circular Book";
    font-size: 0.9rem;
    color: white;
    background-color: darkgrey;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
}

#main {
    width: 100%;
    text-align: center;
    float: left;
}

#overall {
    width: 85%;
    margin: 50px auto 0 auto;
}